<footer class="footer">
  <nav class="navbar navbar-default navbar-cd">
    <div class="container">
      <div class="text-center">
        <p class="copyrights">© 2016 Suhail Taj Shaik</p>
      </div>
    </div>
  </nav>
</footer>