<div class="row">
    <div class="col-xs-12 ">
        <!-- <div class="col-md-3 col-sm-3">
            <center>
                <h2>Switch ON</h2>
                <a href="https://www.the-qrcode-generator.com/"><img src="http://chart.apis.google.com/chart?chs=200x200&amp;cht=qr&amp;chld=|1&amp;chl=https%3A%2F%2Fgoo.gl%2FLqngd8" alt="QR Code" /></a>
            </center>
        </div> -->
        <div class="well">
            <!-- <tt>{{vm.status}}</tt> -->
            <h1>Wemo switch status :
                <span ng-switch on="vm.status">
                    <span ng-switch-when="true">ON</span>
                    <span ng-switch-when="false">OFF</span>
                </span>
            </h1>
        </div>

        <div class="img-main-message text-center">
            <!-- <h3>{{vm.service.message}}</h3> -->
            <!-- <h4>Welcome {{vm.service.name}}</h4> -->

            <span>
                <button class="btn btn-success" ng-click="vm.on()">Switch ON</button>
                <button class="btn btn-danger" ng-click="vm.off()">Switch OFF</button>
            </span>
            <br>
            <br>
            <center>
                <span ng-switch on="vm.status">
                    <span ng-switch-when="true">
                        <img class="img-responsive" src="/assets/images/bulbon.gif">
                    </span>
                    <span ng-switch-when="false">
                        <img class="img-responsive" src="/assets/images/bulboff.gif">
                    </span>
                </span>

            </center>
        </div>

        <!-- <div>
            <h3>Bibliography : </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Source</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>IFTTT</td>
                        <td><a href="https://ifttt.com/" target="_tab">https://ifttt.com/</a></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Maker Channel</td>
                        <td><a href="https://ifttt.com/maker" target="_tab">https://ifttt.com/maker</a></td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Recipes</td>
                        <td><a href="https://ifttt.com/recipes/448171-web-service-to-switch" target="_tab">https://ifttt.com/recipes/448171-web-service-to-switch</a></td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Source Code</td>
                        <td><a href="https://bitbucket.org/suhailtaj/wemonode/src" target="_tab">https://bitbucket.org/suhailtaj/wemonode</a></td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Docker Image</td>
                        <td><a href="https://hub.docker.com/r/suhailtaj/wemonode/" target="_tab">https://hub.docker.com/r/suhailtaj/wemonode</a></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>
